.LogBox input {
    background-color: transparent;
    color: #fff;
}

.LogBox .el-input__inner::placeholder {
color: #fff;
}

.goodPicCho .el-upload-dragger{
    width: 200px !important;
    height: 200px !important;
  }



.pagination{
    margin-top: 20px;
    float: right;
  }